---
import type { Article, Category } from "@interfaces/newsapi"
import Layout from "@layouts/Layout.astro"
import { FTopHeadlines } from "@lib/newsapi"
import slug from "@lib/slug"

export const getStaticPaths = async () => {
  const categories: Category[] = [
    "business",
    "entertainment",
    "general",
    "health",
    "science",
    "sports",
    "technology"
  ]
  const paths: Array<{ params: { slug: string }; props: Article }> = []

  for (const category of categories) {
    const articles = await FTopHeadlines<Article[]>({
      endpoint: "top-headlines",
      category,
      wrappedByKey: "articles"
    })

    paths.push(
      ...articles.map((article) => ({
        params: { slug: slug(article.title) },
        props: article
      }))
    )
  }

  return paths
}

type Props = Article

const article = Astro.props
---

<Layout>
  <section class="flex flex-col mt-10">
    <img
      src={article.urlToImage}
      alt={article.title}
      class="rounded-md w-full h-96 object-cover"
    />
    <p class="text-3xl font-bold my-5">{article.title}</p>
    <p>{article.description}</p>
    <a href={article.url} target="_blank" class="hover:underline mt-3">
      Read more!
    </a>
  </section>
</Layout>
